body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Tahoma', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html, body, *{
  outline: none;
}

a{
  text-decoration: none;
  color:#333;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.highlight{
  color:#f93f6c;
}

button.common{
  background-color: #f93f6c;
  border:none;
  padding: 16px 32px;
  line-height: 14px;
  color:#FFF;
  border-radius: 24px;
  font-weight: 600;
  cursor: pointer;
}

.hide{
  display: none !important;
}
.show{
  display: block;
}
.oneColForm__control{
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}
.oneColForm__control select{
  min-height:32px;
}
.oneColForm__control label{
  margin-bottom: 2px;
  font-size: .8em;
  font-weight: 600;
}
.oneColForm__control button{
  background-color: #FFF;
  border:1px solid #000; 
  color:#f93f6c;
  margin-top: 8px;
}

.sectionTwo{
  padding:1em 4em;
  display: flex;
  background:
    linear-gradient(to bottom left,rgb(242, 246, 250) 49.8%, #11337f 50%)
    no-repeat
}
.sectionThree{
  padding:1em 4em;
  display: flex;
}

.rightAlign{
  text-align: right;
}



h2{
  font-size: 2em;
  font-weight: 200;
}